div(id=widget.properties.id class="carousel slide" data-ride="carousel")
  ol.carousel-indicators
    each image,index in widget.properties.images
      case index
        when 0
          li(class="active", data-target='##{widget.properties.id}', data-slide-to=index)
        default
          li(data-target='##{widget.properties.id}', data-slide-to=index)
  .carousel-inner
    each image,index in widget.properties.images
      case index
        when 0
          .item.active
            img(data-src=image.datasrc, alt=image.alt, src=image.src)
            if image.call2action
              .container
                .carousel-caption
                  h1= image.call2action.title
                  p= image.call2action.text
                  p
                    a(class="btn btn-lg btn-primary", href=image.call2action.link.href, role="button")= image.call2action.link.anchor
        default
          .item
            img(data-src=image.datasrc, alt=image.alt, src=image.src)

  a.left.carousel-control(href='##{widget.properties.id}', role='button', data-slide='prev')
    span.glyphicon.glyphicon-chevron-left
  a.right.carousel-control(href='##{widget.properties.id}', role='button', data-slide='next')
    span.glyphicon.glyphicon-chevron-right
