div(style="padding-bottom:20px" itemscope='itemscope', itemtype='http://schema.org/VideoObject')

  if (widget.properties.name)
    meta(itemprop='name', content='#{widget.properties.name}')

  if (widget.properties.description)
    meta(itemprop='description', content='#{widget.properties.description}')

  if (widget.properties.duration)
    meta(itemprop='duration', content='#{widget.properties.duration}')

  if (widget.properties.thumbnail)
    meta(itemprop='thumbnail', content='#{widget.properties.thumbnail}')

  if (widget.properties.regionsAllowed)
    meta(itemprop='regionsAllowed', content='#{widget.properties.regionsAllowed}')

  video.img.img-responsive(width=widget.properties.width, height=widget.properties.height, controls=widget.properties.controls==true, autoplay=widget.properties.autoplay==true)
    source(src=widget.properties.src, type=widget.properties.type)
    |= widget.properties.message
